{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <title>VoipGulf</title>
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="author" content="Sherin"/>
      <!-- Favicon -->
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="icon" href="favicon.ico" type="image/x-icon">
      <!-- Data table CSS -->
      <link href="{% static "vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css"/>
      <!-- Custom CSS -->
      <link href="{% static "dist/css/style.css" %}" rel="stylesheet" type="text/css">
      <!-- jQuery -->
      <script src="{% static "vendors/bower_components/jquery/dist/jquery.min.js" %}"></script>
      <style>
         .navbar.navbar-inverse {
         background: #000000d9;
         }
         .navbar {
         border-radius: 0px;
         }
         .page-wrapper {
         margin-left: 19px;
         padding: 30px 20px;
         position: relative;
         -webkit-transition: all 0.4s ease;
         -moz-transition: all 0.4s ease;
         transition: all 0.4s ease;
         left: 0;
         }
         @media only screen and (max-width: 767px) {
         .page-wrapper {
         margin-left: 19px;
         padding: 0px 0px;
         position: relative;
         -webkit-transition: all 0.4s ease;
         -moz-transition: all 0.4s ease;
         transition: all 0.4s ease;
         left: 0;
         }
         }
      </style>
   </head>
   <body>

      <!-- Preloader -->
      <div class="preloader-it">
         <div class="la-anim-1"></div>
      </div>
      <!-- /Preloader -->
      <div class="wrapper theme-6-active pimary-color-yellow">
         <!-- Top Menu Items -->
         <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">VoipGulf</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="{% url "adminRcardDashboard" %}">Home</a></li>
                <li><a href="{% url "profileRcard" %}">Edit Profile</a></li>
                 <li class="">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">User Management
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url "addResellerRcard" %}">Add Reseller</a></li>
                       <li><a href="{% url "addUserRcard" %}">Add User</a></li>
                       <li><a href="{% url "viewResellerRcard" %}">View Reseller</a></li>
                       <li><a href="{% url "viewUserRcard" %}">View User</a></li>
                    </ul>
                 </li>
                 <li class="">
                    <a id="bm" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Balance Management	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                         <a href="{% url "balanceTransferRcard" %}">Balance transfer</a>
                       </li>
                       <li>
                         <a href="{% url "addPaymentRcard" %}">Add Payment</a>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a id="re" class="dropdown-toggle" data-toggle="dropdown" href="#">Reports  <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "rcardreport" %}">Vcloud Report</a>
                       </li>
                       <li>
                            <a href="{% url "bTReportRcard" %}">Balance Transfer Report</a>
                       </li>
                       <li>
                          <a href="{% url "paymentReportRcard" %}">Payment Report</a>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a id="br" class="dropdown-toggle" data-toggle="dropdown" href="#">Brands
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url "addRCardbrand" %}">Add Brand</a></li>
                       <li><a href="{% url "assignRCardBrands" %}">Assign Brand</a></li>
                       <li><a href="{% url "manageRCardBrands" %}">Manage Brand</a></li>
                    </ul>
                 </li>
                 <li>
                    <a id="pr" class="dropdown-toggle" data-toggle="dropdown" href="#">Products	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "addrcardProduct" %}">Add Product Manually</a>
                       </li>
                       <li>
                          <a href="{% url "addrcardcsvProduct" %}">Assign Product as CSV file</a>
                       </li>
                       <li>
                          <a href="{% url "rcardmanageProduct" %}">Manage Products</a>
                       </li>
                    </ul>
                 </li>
                 <li><a id="st" href="{% url "rcardstore" %}">Store</span></a>
                 </li>



		 <li>
                     <a id="ma" class="dropdown-toggle" data-toggle="dropdown" href="#">Ads Management<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="{% url "rcardaddads" %}">Add Ads</a>
                        </li>
                        <li>
                           <a  href="{% url "rcardviewad" %}">Manage Ads</a>
                        </li>
                     </ul>
                 </li>
                 <li><a id="cp" href="{% url "rcardchangepassword" %}">Change password</a></li>




<li><a id="succ" class="dropdown-toggle" data-toggle="dropdown"  href="#">More</a>

<ul class="dropdown-menu">
                        <li><a id="cpli" href="{% url "rcardchangepassword" %}">Change password</a></li>

                       <li>
                     <a id="mali" class="dropdown-toggle" data-toggle="dropdown" href="#">Ads Management<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="{% url "rcardaddads" %}">Add Ads</a>
                        </li>
                        <li>
                           <a  href="{% url "rcardviewad" %}">Manage Ads</a>
                        </li>
                     </ul>
                 </li>


<li class="dropdown-submenu">
<a id="prli"  class="test" tabindex="-1" href="#">Products<span class="caret"></span></a>
<ul class="dropdown-menu">

<li><a tabindex="-1" href="{% url "addrcardProduct" %}">Add Product Manually</a></li>
<li><a tabindex="-1" href="{% url "addrcardcsvProduct" %}">Assign Product as CSV file</a></li>
 <li><a tabindex="-1" href="{% url "rcardmanageProduct" %}">Manage Products</a></li>
</ul>
</li>





 <li><a id="stli" href="{% url "rcardstore" %}">Store</a>



<li class="dropdown-submenu">
<a id="brli"  class="test" tabindex="-1" href="#">Brands	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "addRCardbrand" %}">Add Brand</li>
<li><a tabindex="-1" href="{% url "assignRCardBrands" %}">Assign Brand</a></li>
<li><a tabindex="-1" href="{% url "manageRCardBrands" %}">Manage Brand</a></li>
</ul>
</li>




<li class="dropdown-submenu">
<a id="reli"  class="test" tabindex="-1" href="#">Reports 	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "rcardreport" %}">Vcloud Report</a></li>
<li><a tabindex="-1" href="{% url "bTReportRcard" %}">Balance Transfer Report</a></li>
<li><a tabindex="-1" href="{% url "paymentReportRcard" %}">Payment Report</a></li>
</ul>
</li>





 <li class="dropdown-submenu">
<a id="bmli"  class="test" tabindex="-1" href="#">Balance Management	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "balanceTransferRcard" %}">Balance transfer</a></li>
<li><a tabindex="-1" href="{% url "addPaymentRcard" %}">Add Payment</a></li>


</ul>
</li>


                     </ul>




</li>




              </ul>
              <ul class="nav navbar-nav navbar-right"><li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.name }}	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "logout" %}">Logout</a>
                       </li>
                    </ul>
                 </li>
              </ul>
            </div>
         </div>
      </nav>
<style>

#succ{display:none;}
#mali{display:none;}
#stli{display:none;}
#brli{display:none;}
#reli{display:none;}
#bmli{display:none;}
@media (max-width: 1523px){


#succ{
display:block;

}
#cp{ display:none;}

}
@media (max-width: 1443px){

#ma{display:none;}
#mali{display:block;}

}

@media (max-width:1292px){

#st{display:none;}
#stli{display:block;}
}

@media (max-width:1220px){

#pr{display:none;}
#prli{display:block;}
}

@media (max-width:1120px){

#br{display:none;}
#brli{display:block;}
}
@media (max-width:1120px){

#re{display:none;}
#reli{display:block;}
}

@media (max-width:940px){

#bm{display:none;}
#bmli{display:block;}
}



</style>
<script>
$(document).ready(function(){
$('.dropdown-submenu a.test').on("click", function(e){
$(this).next('ul').toggle();
e.stopPropagation();
e.preventDefault();
});
});
</script>

         <!-- /Top Menu Items -->
         <!-- Main Content -->
         <div class="page-wrapper">
            <div class="container-fluid pt-25">
               <div class="row">
                  <div class="col-md-12">
                     <div class="panel panel-default card-view">
                        <div class="panel-heading">
                           <div class="pull-left">
                              <h6 class="panel-title txt-dark">Add Reseller</h6>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                           <div class="panel-body">
                              <div class="row">
                                 <div class="col-sm-12 col-xs-12">
                                   {% block content %}
                                    <div class="form-wrap">
                                       <form action="{% url "RcardsubmitReseller" %}" method="POST">
                                         {% csrf_token %}
                                          <div class="form-body">
                                             <hr class="light-grey-hr">
                                             <div class="row">
                                                <div class="col-md-6">
                                                   <div class="form-group">
                                                      <label class="control-label mb-10">Name*</label>
                                                      {{ form.name }}
                                                      {{ form.errors.name }}
                                                   </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                   <div class="form-group">
                                                      <label class="control-label mb-10">Address*</label>
                                                      {{ form.address }}
                                                      {{ form.errors.address }}
                                                   </div>
                                                </div>
                                                <!--/span-->
                                             </div>
                                             <!-- /Row -->
                                             <!-- /Row -->
                                             <div class="row">
                                               <div class="form-group col-sm-6">
                                                  <label for="address">MobileNo</label>
                                                  {{form.mobileno}}
                                                  {{ form.errors.mobileno }}
                                               </div>

                                                <!--/span-->
                                                <div class="col-md-6">
                                                   <div class="form-group">
                                                      <label class="control-label mb-10 text-left">Email*</label>
                                                      {{ form.email }}
                                                      {{ form.errors.email }}
                                                   </div>
                                                </div>
                                                <!--/span-->
                                             </div>
                                             <!-- /Row -->
                                             <div class="row">
                                                <div class="col-md-6">
                                                   <div class="form-group">
                                                      <label class="control-label mb-10">Username</label>
                                                      {{ form.username }}
                                                      <p class="usernamerror pull-right"></P>
                                                   </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                   <div class="form-group">
                                                      <label class="control-label mb-10">Password*</label>
                                                      {{ form.password }}
                                                      {{ form.errors.password }}
                                                   </div>
                                                </div>
                                                <!--/span-->
                                             </div>
                                             <!-- /Row -->
                                             <div class="row">
                                               <div class="col-md-6">
                                                 <div class="form-group">
                                                    <label class="control-label mb-10">Margin*</label>
                                                    {{ form.margin }}
                                                    {{ form.errors.margin }}
                                                 </div>
                                               </div>
                                               <div class="col-md-6">
                                                  <div class="form-group">
                                                     <label class="control-label mb-10">Transaction Limit *</label>
                                                     {{ form.retailerLimit }}
                                                     {{ form.errors.retailerLimit }}
                                                  </div>
                                               </div>
                                                <!--/span-->
                                             </div>
                                             <div class="row">
                                                <div class="col-md-6">
                                                   <div class="form-group">
                                                      <label class="control-label mb-10">Access </label>
                                                      <div class="radio-list">
                                                         <div class="checkbox checkbox-success checkbox-inline">
                                                            {{ form.recharge_status }}
                                                            <label for="ior"> IOR </label>
                                                         </div>
                                                         <div class="checkbox checkbox-warning checkbox-inline">
                                                            {{ form.vcloud_status }}
                                                            <label for="voip"> VOIP </label>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="form-actions mt-10">
                                             <button type="submit" id="addResellerSubmit" class="btn btn-success  mr-10"> Add Reseller</button>
                                             <button type="button" id="addResellercancel" class="btn btn-default">Cancel</button>
                                          </div>
                                       </form>
                                       {% if messages %}
                                       {% for message in messages %}
                                      <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                                        <strong>{{ message.tag }}</strong> {{ message }}
                                      </div>
                                       {% endfor %}
                                       {% endif %}
                                    </div>
                                    {% endblock %}
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Footer -->
            <footer class="footer container-fluid pl-30 pr-30">
               <div class="row">
                  <div class="col-sm-12">
                     <p>Developed and maintained by Nuvac technologies © 2018</p>
                  </div>
               </div>
            </footer>
            <!-- /Footer -->
         </div>
         <!-- /Main Content -->
      </div>
      <script>
      $("form input[name='username']").change(function () {
        var username = $(this).val();
        $.ajax({
          url: '/ajax/validate_username/',
          data: {
            'username': username
          },
          dataType: 'json',
          success: function (data) {
            if (data.is_taken) {
              $(".usernamerror").html("A user with this username already exists.");
            }
            else{
              $(".usernamerror").html("Username Available");
            }
          }
        });
      });
      </script>
      <!-- /#wrapper -->
      <!-- JavaScript -->

      <!-- Bootstrap Core JavaScript -->
      <script src="{% static "vendors/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
      <!-- Fancy Dropdown JS -->
      <script src="{% static "dist/js/dropdown-bootstrap-extended.js" %}"></script>
      <!-- Slimscroll JavaScript -->
  		<script src="{% static "dist/js/jquery.slimscroll.js" %}"></script>
      <!-- Init JavaScript -->
      <script src="{% static "dist/js/init.js" %}"></script>
   </body>
</html>
