{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <title>
         OliveMPay
      </title>
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="author" content="hencework"/>
      <!-- Favicon -->
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="icon" href="favicon.ico" type="image/x-icon">
      <!-- Data table CSS -->
      <link href="{% static "vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css"/>
      <!-- Custom CSS -->
      <link href="{% static "dist/css/style.css" %}" rel="stylesheet" type="text/css">
      <link href="{% static "vendors/bower_components/switchery/dist/switchery.css" %}" rel="stylesheet" type="text/css">
      <!-- jQuery -->
      <script src="{% static "vendors/bower_components/jquery/dist/jquery.min.js" %}"></script>
   </head>
   <body>

      <!-- Preloader -->
      <div class="preloader-it">
         <div class="la-anim-1"></div>
      </div>
      <!-- /Preloader -->
     <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">OliveMPay</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="{% url "adminRcardDashboard" %}">Home</a></li>
                <li><a href="{% url "profileRcard" %}">Edit Profile</a></li>
                 <li class="">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">User Management
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url "addResellerRcard" %}">Add Reseller</a></li>
                       <li><a href="{% url "addUserRcard" %}">Add User</a></li>
                       <li><a href="{% url "viewResellerRcard" %}">View Reseller</a></li>
                       <li><a href="{% url "viewUserRcard" %}">View User</a></li>
                    </ul>
                 </li>
                 <li class="">
                    <a id="bm" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Balance Management	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                         <a href="{% url "balanceTransferRcard" %}">Balance transfer</a>
                       </li>
                       <li>
                         <a href="{% url "addPaymentRcard" %}">Add Payment</a>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a id="re" class="dropdown-toggle" data-toggle="dropdown" href="#">Reports  <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "rcardreport" %}">Vcloud Report</a>
                       </li>
                       <li>
                            <a href="{% url "bTReportRcard" %}">Balance Transfer Report</a>
                       </li>
                       <li>
                          <a href="{% url "paymentReportRcard" %}">Payment Report</a>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a id="br" class="dropdown-toggle" data-toggle="dropdown" href="#">Brands
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url "addRCardbrand" %}">Add Brand</a></li>
                       <li><a href="{% url "assignRCardBrands" %}">Assign Brand</a></li>
                       <li><a href="{% url "manageRCardBrands" %}">Manage Brand</a></li>
                    </ul>
                 </li>
                 <li>
                    <a id="pr" class="dropdown-toggle" data-toggle="dropdown" href="#">Products	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "addrcardProduct" %}">Add Product Manually</a>
                       </li>
                       <li>
                          <a href="{% url "addrcardcsvProduct" %}">Assign Product as CSV file</a>
                       </li>
                       <li>
                          <a href="{% url "rcardmanageProduct" %}">Manage Products</a>
                       </li>
                    </ul>
                 </li>
                 <li><a id="st" href="{% url "rcardstore" %}">Store</span></a>
                 </li>



		 <li>
                     <a id="ma" class="dropdown-toggle" data-toggle="dropdown" href="#">Ads Management<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="{% url "rcardaddads" %}">Add Ads</a>
                        </li>
                        <li>
                           <a  href="{% url "rcardviewad" %}">Manage Ads</a>
                        </li>
                     </ul>
                 </li>
                 <li><a id="cp" href="{% url "rcardchangepassword" %}">Change password</a></li>




<li><a id="succ" class="dropdown-toggle" data-toggle="dropdown"  href="#">More</a>

<ul class="dropdown-menu">
                        <li><a id="cpli" href="{% url "rcardchangepassword" %}">Change password</a></li>

                       <li>
                     <a id="mali" class="dropdown-toggle" data-toggle="dropdown" href="#">Ads Management<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="{% url "rcardaddads" %}">Add Ads</a>
                        </li>
                        <li>
                           <a  href="{% url "rcardviewad" %}">Manage Ads</a>
                        </li>
                     </ul>
                 </li>


<li class="dropdown-submenu">
<a id="prli"  class="test" tabindex="-1" href="#">Products<span class="caret"></span></a>
<ul class="dropdown-menu">

<li><a tabindex="-1" href="{% url "addrcardProduct" %}">Add Product Manually</a></li>
<li><a tabindex="-1" href="{% url "addrcardcsvProduct" %}">Assign Product as CSV file</a></li>
 <li><a tabindex="-1" href="{% url "rcardmanageProduct" %}">Manage Products</a></li>
</ul>
</li>





 <li><a id="stli" href="{% url "rcardstore" %}">Store</a>



<li class="dropdown-submenu">
<a id="brli"  class="test" tabindex="-1" href="#">Brands	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "addRCardbrand" %}">Add Brand</li>
<li><a tabindex="-1" href="{% url "assignRCardBrands" %}">Assign Brand</a></li>
<li><a tabindex="-1" href="{% url "manageRCardBrands" %}">Manage Brand</a></li>
</ul>
</li>




<li class="dropdown-submenu">
<a id="reli"  class="test" tabindex="-1" href="#">Reports 	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "rcardreport" %}">Vcloud Report</a></li>
<li><a tabindex="-1" href="{% url "bTReportRcard" %}">Balance Transfer Report</a></li>
<li><a tabindex="-1" href="{% url "paymentReportRcard" %}">Payment Report</a></li>
</ul>
</li>





 <li class="dropdown-submenu">
<a id="bmli"  class="test" tabindex="-1" href="#">Balance Management	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "balanceTransferRcard" %}">Balance transfer</a></li>
<li><a tabindex="-1" href="{% url "addPaymentRcard" %}">Add Payment</a></li>


</ul>
</li>


                     </ul>




</li>




              </ul>
              <ul class="nav navbar-nav navbar-right"><li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.name }}	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "logout" %}">Logout</a>
                       </li>
                    </ul>
                 </li>
              </ul>
            </div>
         </div>
      </nav>
<style>

#succ{display:none;}
#mali{display:none;}
#stli{display:none;}
#brli{display:none;}
#reli{display:none;}
#bmli{display:none;}
@media (max-width: 1523px){


#succ{
display:block;

}
#cp{ display:none;}

}
@media (max-width: 1443px){

#ma{display:none;}
#mali{display:block;}

}

@media (max-width:1292px){

#st{display:none;}
#stli{display:block;}
}

@media (max-width:1220px){

#pr{display:none;}
#prli{display:block;}
}

@media (max-width:1120px){

#br{display:none;}
#brli{display:block;}
}
@media (max-width:1120px){

#re{display:none;}
#reli{display:block;}
}

@media (max-width:940px){

#bm{display:none;}
#bmli{display:block;}
}



</style>
<script>
$(document).ready(function(){
$('.dropdown-submenu a.test').on("click", function(e){
$(this).next('ul').toggle();
e.stopPropagation();
e.preventDefault();
});
});
</script>

      <!-- Top Menu Items -->
      <!-- /Top Menu Items -->
      <!-- Left Sidebar Menu -->
      <!-- /Left Sidebar Menu -->
      <!-- Right Sidebar Menu -->
      <style>
         .tab{
         background:#;
         height: 50px;
         }
      </style>
      <div class="page-wrapper">
         <div class="col-lg-12">
            <br>
            <br>
            <div class="col-lg-3 col-lg-offset-1">
               <center>
                  <h2>&emsp;Recharge Card</h2>
                  <h4>&emsp;Add Brand</h4>
                  <br>
               </center>
            </div>
            <br>
            <br>
         </div>
         <br>
         <div class="col-lg-6">
            <div class="ibox-content">
               <br>
               {% block content %}
               <form action="{% url "submitRCardBrands" %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                   {% csrf_token %}
                  <div class="form-group">
                     <label class="col-lg-3 control-label">Brand name:</label>
                     <div class="col-lg-5">
                       {{ form.brand }}
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-lg-3 control-label">Logo:</label>
                     <div class="col-lg-5">
                       {{ form.logo }}
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-lg-3 control-label">Rate:</label>
                     <div class="col-lg-5">
                       {{ form.denomination }}
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-lg-3 control-label">Description:</label>
                     <div class="col-lg-5">
                       {{ form.description }}
                     </div>
                     <br>
                  </div>
                  <div class="form-group">
                     <div class=" col-lg-8">
                        <button class="ladda-button ladda-button-demo btn btn-sm btn-success pull-right m-t-n-xs" data-style="zoom-in" type="submit" id="add"><span class="ladda-label"><strong>Save</strong></span><span class="ladda-spinner"></span></button><br>
                        <br>
                     </div>
                  </div>
               </form>
               {% if messages %}
               {% for message in messages %}
              <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                <strong>{{ message.tag }}</strong> {{ message }}
              </div>
               {% endfor %}
               {% endif %}
               {% endblock %}
            </div>
         </div>
         <div class="col-lg-4">
            <h5>Selected Logo</h5>
            <hr>
            <img src="" id="cimg" width="100px">
         </div>
      </div>
      <script>
      $(document).ready(function(){
        // $("form input[name='logo']").change(function () {
        //
        // });
      });
      function showImage(t)
      {
        if (t.files && t.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#cimg').attr('src', e.target.result);
            };

            reader.readAsDataURL(t.files[0]);
        }
      }
      </script>
      <script src="{% static "vendors/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
      <!-- Fancy Dropdown JS -->
      <script src="{% static "dist/js/dropdown-bootstrap-extended.js" %}"></script>
      <script src="{% static "dist/js/jquery.slimscroll.js" %}"></script>
      <!-- Init JavaScript -->
      <script src="{% static "dist/js/init.js" %}"></script>
   </body>
</html>
