{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>
			OliveMPay
		</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="hencework" />
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<!-- Data table CSS -->
		<link href="{% static "vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css"/>
		<!-- Custom CSS -->
		<link href="{% static "dist/css/style.css" %}" rel="stylesheet" type="text/css">
		<!-- jQuery -->
    <script src="{% static "vendors/bower_components/jquery/dist/jquery.min.js" %}"></script>
    <link href="{% static "select2/select2.min.css" %}" rel="stylesheet" />

</head>

<body>

    <!-- Preloader -->

    <div class="preloader-it">

        <div class="la-anim-1"></div>

    </div>


		 <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">OliveMPay</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="{% url "homePage" %}">Home</a></li>
                <li><a href="{% url "profile" %}">Edit Profile</a></li>
                 <li class="">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">User Management
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url "addReseller" %}">Add Reseller</a></li>
                       <li><a href="{% url "addUser" %}">Add User</a></li>
                       <li><a href="{% url "viewReseller" %}">View Reseller</a></li>
                       <li><a href="{% url "viewUser" %}">View User</a></li>
                    </ul>
                 </li>
                 <li class="">
                    <a id="bm" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Balance Management	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                         <a href="{% url "balanceTransfer" %}">Balance transfer</a>
                       </li>
                       <li>
                         <a href="{% url "addPayment" %}">Add Payment</a>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a id="re" class="dropdown-toggle" data-toggle="dropdown" href="#">Reports  <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "vcloudreport" %}">Vcloud Report</a>
                       </li>
                       <li>
                            <a href="{% url "bTReport" %}">Balance Transfer Report</a>
                       </li>
                       <li>
                          <a href="{% url "paymentReport" %}">Payment Report</a>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a id="br" class="dropdown-toggle" data-toggle="dropdown" href="#">Brands
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url "addvcloudbrand" %}">Add Brand</a></li>
                       <li><a href="{% url "assignVcloudBrands" %}">Assign Brand</a></li>
                       <li><a href="{% url "manageVcloudBrands" %}">Manage Brand</a></li>
                    </ul>
                 </li>
                 <li>
                    <a id="pr" class="dropdown-toggle" data-toggle="dropdown" href="#">Products	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "addVcloudProduct" %}">Add Product Manually</a>
                       </li>
                       <li>
                          <a href="{% url "addcsvProduct" %}">Assign Product as CSV file</a>
                       </li>
                       <li>
                          <a href="{% url "vcloudmanageProduct" %}">Manage Products</a>
                       </li>
                    </ul>
                 </li>
                 <li><a id="st" href="{% url "vcloudStore" %}">Store</span></a>
                 </li>



		 <li>
                     <a id="ma" class="dropdown-toggle" data-toggle="dropdown" href="#">Ads Management<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="{% url "addads" %}">Add Ads</a>
                        </li>
                        <li>
                           <a  href="{% url "viewad" %}">Manage Ads</a>
                        </li>
                     </ul>
                 </li>
                 <li><a id="cp" href="{% url "vcloudchangepassword" %}">Change password</a></li>




<li><a id="succ" class="dropdown-toggle" data-toggle="dropdown"  href="#">More</a>

<ul class="dropdown-menu">
                        <li><a id="cpli" href="{% url "vcloudchangepassword" %}">Change password</a></li>


<li class="dropdown-submenu">
<a id="mali"  class="test" tabindex="-1" href="#">Ads Managements<span class="caret"></span></a>
<ul class="dropdown-menu">

<li><a tabindex="-1" href="{% url "addads" %}">Add Ads</a></li>
<li><a tabindex="-1" href="{% url "viewad" %}">Manage Ads</a></li>

</ul>
</li>


<li class="dropdown-submenu">
<a id="prli"  class="test" tabindex="-1" href="#">Products<span class="caret"></span></a>
<ul class="dropdown-menu">

<li><a tabindex="-1" href="{% url "addVcloudProduct" %}">Add Product Manually</a></li>
<li><a tabindex="-1" href="{% url "addcsvProduct" %}">Assign Product as CSV file</a></li>
 <li><a tabindex="-1" href="{% url "vcloudmanageProduct" %}">Manage Products</a></li>
</ul>
</li>





 <li><a id="stli" href="{% url "vcloudStore" %}">Store</a>



<li class="dropdown-submenu">
<a id="brli"  class="test" tabindex="-1" href="#">Brands	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "addvcloudbrand" %}">Add Brand</li>
<li><a tabindex="-1" href="{% url "assignVcloudBrands" %}">Assign Brand</a></li>
<li><a tabindex="-1" href="{% url "manageVcloudBrands" %}">Manage Brand</a></li>
</ul>
</li>




<li class="dropdown-submenu">
<a id="reli"  class="test" tabindex="-1" href="#">Reports 	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "vcloudreport" %}">Vcloud Report</a></li>
<li><a tabindex="-1" href="{% url "bTReport" %}">Balance Transfer Report</a></li>
<li><a tabindex="-1" href="{% url "paymentReport" %}">Payment Report</a></li>
</ul>
</li>





 <li class="dropdown-submenu">
<a id="bmli"  class="test" tabindex="-1" href="#">Balance Management	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "balanceTransfer" %}">Balance transfer</a></li>
<li><a tabindex="-1" href="{% url "addPayment" %}">Add Payment</a></li>


</ul>
</li>


                     </ul>




</li>




              </ul>
              <ul class="nav navbar-nav navbar-right"><li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.name }}	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "logout" %}">Logout</a>
                       </li>
                    </ul>
                 </li>
              </ul>
            </div>
         </div>
      </nav>
<style>

#succ{display:none;}
#mali{display:none;}
#stli{display:none;}
#brli{display:none;}
#reli{display:none;}
#bmli{display:none;}
@media (max-width: 1523px){


#succ{
display:block;

}
#cp{ display:none;}

}
@media (max-width: 1443px){

#ma{display:none;}
#mali{display:block;}

}

@media (max-width:1292px){

#st{display:none;}
#stli{display:block;}
}

@media (max-width:1220px){

#pr{display:none;}
#prli{display:block;}
}

@media (max-width:1120px){

#br{display:none;}
#brli{display:block;}
}
@media (max-width:1120px){

#re{display:none;}
#reli{display:block;}
}

@media (max-width:940px){

#bm{display:none;}
#bmli{display:block;}
}



</style>
<script>
$(document).ready(function(){
$('.dropdown-submenu a.test').on("click", function(e){
$(this).next('ul').toggle();
e.stopPropagation();
e.preventDefault();
});
});
</script>


    <!-- /Left Sidebar Menu -->

    <!-- Right Sidebar Menu -->

    <style>
        .tab {
            background: #;
            height: 50px;
        }
    </style>

    <div class="page-wrapper" style="padding:0px 20px">

        <div class="col-lg-10">

            <center>
                <br>

                <h3>VCLOUD</h3>
                <h4>Upload Products via CSV file</h4>
                <br>

            </center>
        </div>

        <div class="col-lg-6">
            <div class="ibox-content">
              {% block content %}
                <form action="{% url "vcloudcsvupload" %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                  {% csrf_token %}
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Brand:</label>
                        <div class="col-sm-5">
                            <select id="brand" name="brand" class="form-control select2">
                              {% for brand in brands %}
                              <option value="{{ brand.id }}"> {{ brand.brand }}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Upload File:</label>
                        <div class="col-sm-5">
                            {{ form.filename }}
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success col-lg-offset-6">Upload</button>
                    </div>
                </form>
                {% if messages %}
                {% for message in messages %}
               <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                 <strong>{{ message.tag }}</strong> {{ message }}
               </div>
                {% endfor %}
                {% endif %}
                {% endblock %}
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading" style="color: #fff;">
                    <i class="fa fa-info-circle"></i> Info
                </div>
                <div class="panel-body">
                    <p>When uploading CSV file, No need to specify the column header. The column order is username,password</p>
                </div>

            </div>
        </div>

        <div class="col-lg-12">
            <br>
            <br>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">data Table</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <div id="datable_1_wrapper" class="dataTables_wrapper">
                                            <table id="datable_1" class="table table-hover display  pb-30 dataTable" role="grid" aria-describedby="datable_1_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Uploaded Date</th>
                                                        <th>User</th>
							<th>Brand</th>
                                                        <th>Filename</th>
                                                        <th>Total Product Count</th>
                                                        <th>Success Count</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                      <th>Uploaded Date</th>
                                                      <th>User</th>
						      <th>Brand</th>
                                                      <th>Filename</th>
                                                      <th>Total Product Count</th>
                                                      <th>Success Count</th>
                                                      <th>Status</th>
                                                      <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
						{% for log in vlogs %}
                                                  <tr role="row" class="odd">
                                                        <td>{{ log.cdate }}</td>
                                                        <td>{{ log.user }}</td>
							<td>{{ log.brand.brand }}</td>
                                                        <td>{{ log.file.name }}</td>
                                                        <td>{{ log.pcount }}</td>
                                                        <td>{{ log.scount }}</td>
                                                        {% if log.status == True %}
							<td>Ready To Spent</td>
                                                        <td><a class="btn btn-success" href="/vcloud/log/to/prdct/{{ log.id }}">Spent</a>&nbsp;&nbsp;<a class="btn btn-danger" href="/vcloud/log/to/prdctdelete/{{ log.id }}">Delete</a></td>
                                                          {% else %}
							<td>Spented</td>
                                                        <td><a class="btn btn-danger" href="/vcloud/log/to/prdctdelete/{{ log.id }}">Delete</a></td>
                                                        {% endif %}

                                                    </tr>
						{% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>
<script>
$(document).ready(function(){
  $("#datable_1").DataTable({"ordering":false});
  $('.select2').select2();
});
</script>
<script src="{% static "vendors/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "select2/select2.min.js" %}"></script>
<!-- <script src="{% static "data/dataTables.buttons.min.js" %}"></script>
<script src="{% static "data/buttons.flash.min.js" %}"></script>
<script src="{% static "data/jszip.min.js" %}"></script>
<script src="{% static "data/pdfmake.min.js" %}"></script>
<script src="{% static "data/vfs_fonts.js" %}"></script>
<script src="{% static "data/buttons.html5.min.js" %}"></script>
<script src="{% static "data/buttons.print.min.js" %}"></script>
<script src="{% static "dist/js/export-table-data.js" %}"></script> -->
<!-- Slimscroll JavaScript -->
<script src="{% static "dist/js/jquery.slimscroll.js" %}"></script>
<!-- Init JavaScript -->
<script src="{% static "dist/js/init.js" %}"></script>

</html>
