 {% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <title>
         OliveMPay
      </title>
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="author" content=""/>
      <!-- Favicon -->
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="icon" href="favicon.ico" type="image/x-icon">
      <link href="{% static "dist/css/style.css" %}" rel="stylesheet" type="text/css">
      <script src="{% static "vendors/bower_components/jquery/dist/jquery.min.js" %}"></script>
      <link href="{% static "dist/jquery.bootstrap-touchspin.css" %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static "dist/sweetalert.css" %}" rel="stylesheet" type="text/css">
      <script src="{% static "dist/sweetalert.min.js" %}"></script>
   </head>
   <body>
      <!-- Preloader -->
      <div class="preloader-it">
         <div class="la-anim-1"></div>
      </div>
      <!-- /Preloader -->
       <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">OliveMPay</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="{% url "homePage" %}">Home</a></li>
                <li><a href="{% url "profile" %}">Edit Profile</a></li>
                 <li class="">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">User Management
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url "addReseller" %}">Add Reseller</a></li>
                       <li><a href="{% url "addUser" %}">Add User</a></li>
                       <li><a href="{% url "viewReseller" %}">View Reseller</a></li>
                       <li><a href="{% url "viewUser" %}">View User</a></li>
                    </ul>
                 </li>
                 <li class="">
                    <a id="bm" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Balance Management	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                         <a href="{% url "balanceTransfer" %}">Balance transfer</a>
                       </li>
                       <li>
                         <a href="{% url "addPayment" %}">Add Payment</a>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a id="re" class="dropdown-toggle" data-toggle="dropdown" href="#">Reports  <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "vcloudreport" %}">Vcloud Report</a>
                       </li>
                       <li>
                            <a href="{% url "bTReport" %}">Balance Transfer Report</a>
                       </li>
                       <li>
                          <a href="{% url "paymentReport" %}">Payment Report</a>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a id="br" class="dropdown-toggle" data-toggle="dropdown" href="#">Brands
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url "addvcloudbrand" %}">Add Brand</a></li>
                       <li><a href="{% url "assignVcloudBrands" %}">Assign Brand</a></li>
                       <li><a href="{% url "manageVcloudBrands" %}">Manage Brand</a></li>
                    </ul>
                 </li>
                 <li>
                    <a id="pr" class="dropdown-toggle" data-toggle="dropdown" href="#">Products	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "addVcloudProduct" %}">Add Product Manually</a>
                       </li>
                       <li>
                          <a href="{% url "addcsvProduct" %}">Assign Product as CSV file</a>
                       </li>
                       <li>
                          <a href="{% url "vcloudmanageProduct" %}">Manage Products</a>
                       </li>
                    </ul>
                 </li>
                 <li><a id="st" href="{% url "vcloudStore" %}">Store</span></a>
                 </li>



		 <li>
                     <a id="ma" class="dropdown-toggle" data-toggle="dropdown" href="#">Ads Management<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="{% url "addads" %}">Add Ads</a>
                        </li>
                        <li>
                           <a  href="{% url "viewad" %}">Manage Ads</a>
                        </li>
                     </ul>
                 </li>
                 <li><a id="cp" href="{% url "vcloudchangepassword" %}">Change password</a></li>




<li><a id="succ" class="dropdown-toggle" data-toggle="dropdown"  href="#">More</a>

<ul class="dropdown-menu">
                        <li><a id="cpli" href="{% url "vcloudchangepassword" %}">Change password</a></li>


<li class="dropdown-submenu">
<a id="mali"  class="test" tabindex="-1" href="#">Ads Managements<span class="caret"></span></a>
<ul class="dropdown-menu">

<li><a tabindex="-1" href="{% url "addads" %}">Add Ads</a></li>
<li><a tabindex="-1" href="{% url "viewad" %}">Manage Ads</a></li>

</ul>
</li>


<li class="dropdown-submenu">
<a id="prli"  class="test" tabindex="-1" href="#">Products<span class="caret"></span></a>
<ul class="dropdown-menu">

<li><a tabindex="-1" href="{% url "addVcloudProduct" %}">Add Product Manually</a></li>
<li><a tabindex="-1" href="{% url "addcsvProduct" %}">Assign Product as CSV file</a></li>
 <li><a tabindex="-1" href="{% url "vcloudmanageProduct" %}">Manage Products</a></li>
</ul>
</li>





 <li><a id="stli" href="{% url "vcloudStore" %}">Store</a>



<li class="dropdown-submenu">
<a id="brli"  class="test" tabindex="-1" href="#">Brands	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "addvcloudbrand" %}">Add Brand</li>
<li><a tabindex="-1" href="{% url "assignVcloudBrands" %}">Assign Brand</a></li>
<li><a tabindex="-1" href="{% url "manageVcloudBrands" %}">Manage Brand</a></li>
</ul>
</li>




<li class="dropdown-submenu">
<a id="reli"  class="test" tabindex="-1" href="#">Reports 	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "vcloudreport" %}">Vcloud Report</a></li>
<li><a tabindex="-1" href="{% url "bTReport" %}">Balance Transfer Report</a></li>
<li><a tabindex="-1" href="{% url "paymentReport" %}">Payment Report</a></li>
</ul>
</li>





 <li class="dropdown-submenu">
<a id="bmli"  class="test" tabindex="-1" href="#">Balance Management	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "balanceTransfer" %}">Balance transfer</a></li>
<li><a tabindex="-1" href="{% url "addPayment" %}">Add Payment</a></li>


</ul>
</li>


                     </ul>




</li>




              </ul>
              <ul class="nav navbar-nav navbar-right"><li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.name }}	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "logout" %}">Logout</a>
                       </li>
                    </ul>
                 </li>
              </ul>
            </div>
         </div>
      </nav>
<style>

#succ{display:none;}
#mali{display:none;}
#stli{display:none;}
#brli{display:none;}
#reli{display:none;}
#bmli{display:none;}
@media (max-width: 1523px){


#succ{
display:block;

}
#cp{ display:none;}

}
@media (max-width: 1443px){

#ma{display:none;}
#mali{display:block;}

}

@media (max-width:1292px){

#st{display:none;}
#stli{display:block;}
}

@media (max-width:1220px){

#pr{display:none;}
#prli{display:block;}
}

@media (max-width:1120px){

#br{display:none;}
#brli{display:block;}
}
@media (max-width:1120px){

#re{display:none;}
#reli{display:block;}
}

@media (max-width:940px){

#bm{display:none;}
#bmli{display:block;}
}



</style>
<script>
$(document).ready(function(){
$('.dropdown-submenu a.test').on("click", function(e){
$(this).next('ul').toggle();
e.stopPropagation();
e.preventDefault();
});
});
</script>

      <!-- Top Menu Items -->
      <div class="mobile-only-brand pull-left">
         <div class="nav-header pull-left">
            <div class="logo-wrap">
            </div>
         </div>
         <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"></a>
         <!--<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
            -->
         <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
         <form id="search_form" role="search" class="top-nav-search collapse pull-left">
            <div class="input-group">
               <!--<input type="text" name="example-input1-group2" class="form-control" placeholder="Search">
                  -->
               <span class="input-group-btn">
               <button type="button" class="btn  btn-default"  data-target="#search_form" data-toggle="collapse" aria-label="Close" aria-expanded="true"></button>
               </span>
            </div>
         </form>
      </div>
      <div id="mobile_only_nav" class="mobile-only-nav pull-right">
         <ul class="nav navbar-right top-nav pull-right">
         </ul>
      </div>
      </nav>
      <!-- /Top Menu Items -->
      <!-- Left Sidebar Menu -->
      <!-- /Left Sidebar Menu -->
      <!-- Right Sidebar Menu -->
      <style>
         .tab{
         background:#;
         height: 50px;
         }
      </style>
      <div class="page-wrapper" style="margin-left: 0px;">
         <br>
         <div class="col-lg-12 col-xs-offset-3 col-sm-offset-5 col-lg-offset-0">
           <div class="col-lg-2 col-lg-offset-3 tab">
              <a href="{% url "vcloudStore" %}" class="btn btn-warning">
              Vcloud</a>
           </div>
           <div class="col-lg-2 tab">
              <a href="{% url "dcardstore" %}" class="btn btn-success">
              Data Card</a>
           </div>
           <div class="col-lg-2 tab">
              <a href="{% url "rcardstore" %}" class="btn btn-success">
              Recharge Cards</a>
           </div>
         </div>
         <div class="col-lg-12"><br><br></div>
         <style>
            #cutting
            {
            width:15%;
            }
            #noncutting
            {
            width:15%;
            }

      .card{width:100%;
border:#eae5ea 1px solid;
height:300px;
float:left;
}


            .card:hover{box-shadow: 7px 7px 19px -5px #888888;}
            .card{border:#CCC 1px solid;}
         </style>
         <div class="col-lg-12" style="background:#fff; border:#CCC 1px solid;">
            <br><br>
            <div class="col-lg-11">
               <center>
                 {% for j,k in btnlist %}
                  <tr>
                    <a href="/vcloud/store/filter/{{ j }}" class="btn {{ k }}">{{ j }}</a>
                  </tr>
                  {% endfor %}
               </center>
               <br>
               <br>
            </div>
         </div>
         <div class="col-lg-8" style="background:#cccccc5e;padding: 0px;height:600px;">
           {% for pdct in pdcts %}
            <div class="col-lg-2 productdetails" style="width:230px; float:left; padding:1%;" >

               <div class="card product__details"  style="background: #fff; padding:2%; margin:0.5%; "  data-toggle="modal" data-target="#myModal">
                  <img class="card-img-top product__logo" src="/media/{{ pdct.brand__logo }}" width="100%" alt="Card image cap">
                  <div class="card-body product__innerDiv">
                    <p class="card-text product__brandid" style="display:none;">{{ pdct.brand__id }}</p>
                   <h5 class="card-title product__brandname" align="center"><strong>{{ pdct.brand__brand}}</strong></h5>
                     <p class="card-text product__denomination" align="center">
                       <span class="product__rate" style="color:red;font-weight: bold;font-family: verdana;">{{ pdct.brand__denomination }}</span>
                       <span class="product__currency" style="color:red;font-weight: bold;font-family: verdana;">{% if pdct.brand__currency %}{{ pdct.brand__currency }}{% else %} Not Described {% endif %}</span>
                     </p>
                     <p class="card-text product__description" align="center">
                       {% if pdct.brand__description|length > 0 %}
                       {{ pdct.brand__description }}
                       {% else %}
                       Not Described
                       {% endif %}
                     </p>
                     <p class="card-text product_count" style="display:none;">{{ pdct.productcount }}</p>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
         <div class="col-md-4">
<br>
<h4> <center> Promotions </center></h4>
<br>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for i in ads %}
    {% if forloop.first %}
     <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" class="active"></li>
     {% else %}
     <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
   {% endif %}
   {% endfor %}
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for i in ads %}
    {% if forloop.first %}
    <div class="item active">
      <img src="{{ i.adimage.url}}" alt="Los Angeles">
    </div>
    {% else %}
    <div class="item">
      <img src="{{ i.adimage.url}}" alt="Los Angeles">
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
         </div>
      </div>
      <div id="myModal" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" id="brandname"></h4>
               </div>
               <div class="modal-body">
                  <div class="col-lg-6"><img id="pdlogo" src="" width="100%"></div>
                  <div class="col-lg-6">
                     <h3 class="m-t-none m-b"></h3>
                     <h6 class="m-t-none m-b" id="brandid" style="display:none"></h6>
                     <h3 class="m-t-none m-b" id="denomination">Rate: <span id="brandrate"></span>-<span id="brandcurrency"> </span></h3>
                     <h5 class="m-t-none m-b" id="description"></h5>
                     <div class="col-lg-10">
                        <br>
                        <br>
                        <div class="input-group bootstrap-touchspin">
                          <label for="ex_limit"></label>
                          <input id="ex_limit" type="text" value="0" name="ex_limit">
                        </div>
                        <br>
                        <button class="btn pull-right btn-success btn-alert" style="top: 5px">Buy</button>
                     </div>
                  </div>
                  <div class="modal-footer">
                    <h4 class="totalcost"></h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Bootstrap Core JavaScript -->
      <script>
      $(document).ready(function(){
        var maxLL=10;
        $(".productdetails").click(function(){
          var pd = $(this).children(".product__details");
          var brand__logo = pd.children(".product__logo").attr('src');
          var pid = pd.children(".product__innerDiv");
          var brandid = pid.children(".product__brandid").html();
          var brandname = pid.children(".product__brandname").html();
          var deno = pid.children(".product__denomination");
          var currency = deno.children(".product__currency").html();
          var rate = deno.children(".product__rate").html();
          var desc = pid.children(".product__description").html();
          var count = pid.children(".product_count").html();
          console.log(rate)
          console.log(count);
          maxLL = count;
          $("#ex_limit").val(0);
          $("#ex_limit").trigger("touchspin.updatesettings", {max: maxLL});
          console.log(brand__logo);
          document.getElementById("pdlogo").src=brand__logo;
          document.getElementById("brandname").innerHTML=brandname;
          document.getElementById("brandrate").innerHTML=rate;
          document.getElementById("brandcurrency").innerHTML=currency;
          $('.totalcost').text("Cost:" + rate + " ");
        });
        $("#ex_limit").TouchSpin({
          min: 1,
          max: maxLL,
          mousewheel: true,
          stepinterval: 50,
          maxboostedstep: 10000000
        });
        $('#ex_limit').change(function (e) {
          debugger;
          var rate = document.getElementById("brandrate").innerHTML;
          var d = $('#ex_limit').val();
          var sum = parseFloat(rate) * parseFloat(d);
          var c = $('#denomination').text();
          $('.totalcost').text("Cost:" + sum + " ");
        });
        $(".btn-alert").click(function(){
          var amt = $('.totalcost').text();
          swal({
            title:"Order confirmation",
            text: "The transaction cannot be processed.",
            icon: "warning",
            type: "warning",
            buttons: {confirm: {
                text: "Yes",
                value: true,
                visible: true,
                className: "",
                closeModal: false
              }
            }
          });
        });
      });
      </script>
      <script src="{% static "dist/jquery.bootstrap-touchspin.js" %}"></script>
      <script src="{% static "vendors/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
      <script src="{% static "dist/js/jquery.slimscroll.js" %}"></script><!-- Data table JavaScript -->
      <script src="{% static "dist/js/init.js" %}"></script>
   </body>
</html>
