{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <title>OliveMPay</title>
      <meta name="description" content="" />
      <meta name="keywords" content="sherin shaju ,sherin shaju athickal" />
      <meta name="Sherin Shaju" content="Sherin"/>
      <!-- Favicon -->
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="icon" href="favicon.ico" type="image/x-icon">
      <!-- Data table CSS -->
      <link href="{% static "vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css"/>
      <!-- Custom CSS -->
      <link href="{% static "dist/css/style.css" %}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{% static "select css/bootstrap-select.css" %}">
      <!-- jQuery -->
      <script src="{% static "vendors/bower_components/jquery/dist/jquery.min.js" %}"></script>
      <link href="{% static "select2/select2.min.css" %}" rel="stylesheet" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
      <style>
         .navbar.navbar-inverse {
         background: #000000d9;
         }
         .navbar {
         border-radius: 0px;
         }
         .page-wrapper {
         margin-left: 19px;
         padding: 30px 20px;
         position: relative;
         -webkit-transition: all 0.4s ease;
         -moz-transition: all 0.4s ease;
         transition: all 0.4s ease;
         left: 0;
         }
         @media only screen and (max-width: 767px) {
         .page-wrapper {
         margin-left: 19px;
         padding: 0px 0px;
         position: relative;
         -webkit-transition: all 0.4s ease;
         -moz-transition: all 0.4s ease;
         transition: all 0.4s ease;
         left: 0;
         }
         }
      </style>
   </head>
   <body>
      <!-- Preloader -->
      <div class="preloader-it">
         <div class="la-anim-1"></div>
      </div>
      <!-- /Preloader -->
      <div class="wrapper theme-6-active pimary-color-yellow">
         <!-- Top Menu Items -->
        <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">OliveMPay</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="{% url "adminDcardDashboard" %}">Home</a></li>
                <li><a href="{% url "profiledcard" %}">Edit Profile</a></li>
                 <li class="">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">User Management
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url "addResellerDcard" %}">Add Reseller</a></li>
                       <li><a href="{% url "addUserDcard" %}">Add User</a></li>
                       <li><a href="{% url "viewResellerDcard" %}">View Reseller</a></li>
                       <li><a href="{% url "viewUserDcard" %}">View User</a></li>
                    </ul>
                 </li>
                 <li class="">
                    <a id="bm" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Balance Management	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                         <a href="{% url "balanceTransferDcard" %}">Balance transfer</a>
                       </li>
                       <li>
                         <a href="{% url "addPaymentDcard" %}">Add Payment</a>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a id="re" class="dropdown-toggle" data-toggle="dropdown" href="#">Reports  <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "datacardreport" %}">Vcloud Report</a>
                       </li>
                       <li>
                            <a href="{% url "bTReportDcard" %}">Balance Transfer Report</a>
                       </li>
                       <li>
                          <a href="{% url "paymentReportDcard" %}">Payment Report</a>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a id="br" class="dropdown-toggle" data-toggle="dropdown" href="#">Brands
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url "addDCardbrand" %}">Add Brand</a></li>
                       <li><a href="{% url "assignDCardBrands" %}">Assign Brand</a></li>
                       <li><a href="{% url "manageDCardBrands" %}">Manage Brand</a></li>
                    </ul>
                 </li>
                 <li>
                    <a id="pr" class="dropdown-toggle" data-toggle="dropdown" href="#">Products	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "adddcardProduct" %}">Add Product Manually</a>
                       </li>
                       <li>
                          <a href="{% url "adddcardcsvProduct" %}">Assign Product as CSV file</a>
                       </li>
                       <li>
                          <a href="{% url "dcardmanageProduct" %}">Manage Products</a>
                       </li>
                    </ul>
                 </li>
                 <li><a id="st" href="{% url "dcardstore" %}">Store</span></a>
                 </li>



		 <li>
                     <a id="ma" class="dropdown-toggle" data-toggle="dropdown" href="#">Ads Management<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="{% url "dcardaddads" %}">Add Ads</a>
                        </li>
                        <li>
                           <a  href="{% url "dcardviewad" %}">Manage Ads</a>
                        </li>
                     </ul>
                 </li>
                 <li><a id="cp" href="{% url "dcardchangepassword" %}">Change password</a></li>




<li><a id="succ" class="dropdown-toggle" data-toggle="dropdown"  href="#">More</a>

<ul class="dropdown-menu">
                        <li><a id="cpli" href="{% url "dcardchangepassword" %}">Change password</a></li>

                       <li>
                     <a id="mali" class="dropdown-toggle" data-toggle="dropdown" href="#">Ads Management<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="{% url "dcardaddads" %}">Add Ads</a>
                        </li>
                        <li>
                           <a  href="{% url "dcardviewad" %}">Manage Ads</a>
                        </li>
                     </ul>
                 </li>


<li class="dropdown-submenu">
<a id="prli"  class="test" tabindex="-1" href="#">Products<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "adddcardProduct" %}">Add Product Manually</li>
<li><a tabindex="-1" href="{% url "adddcardProduct" %}">Add Product Manually</a></li>
<li><a tabindex="-1" href="{% url "adddcardcsvProduct" %}">Assign Product as CSV file</a></li>
 <li><a tabindex="-1" href="{% url "dcardmanageProduct" %}">Manage Products</a></li>
</ul>
</li>





 <li><a id="stli" href="{% url "dcardstore" %}">Store</a>



<li class="dropdown-submenu">
<a id="brli"  class="test" tabindex="-1" href="#">Brands	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "addDCardbrand" %}">Add Brand</li>
<li><a tabindex="-1" href="{% url "assignDCardBrands" %}">Assign Brand</a></li>
<li><a tabindex="-1" href="{% url "manageDCardBrands" %}">Manage Brand</a></li>
</ul>
</li>




<li class="dropdown-submenu">
<a id="reli"  class="test" tabindex="-1" href="#">Reports<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "datacardreport" %}">Vcloud Report</a></li>
<li><a tabindex="-1" href="{% url "bTReportDcard" %}">Balance Transfer Report</a></li>
<li><a tabindex="-1" href="{% url "paymentReportDcard" %}">Payment Report</a></li>
</ul>
</li>





 <li class="dropdown-submenu">
<a id="bmli"  class="test" tabindex="-1" href="#">Balance Management	<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a tabindex="-1" href="{% url "balanceTransferDcard" %}">Balance transfer</a></li>
<li><a tabindex="-1" href="{% url "addPaymentDcard" %}">Add Payment</a></li>
<li class="dropdown-submenu">
<a class="test" href="#">Another dropdown <span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="#">3rd level dropdown</a></li>
<li><a href="#">3rd level dropdown</a></li>
</ul>
</li>
</ul>
</li>


                     </ul>




</li>




              </ul>
              <ul class="nav navbar-nav navbar-right"><li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.name }}	<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                          <a href="{% url "logout" %}">Logout</a>
                       </li>
                    </ul>
                 </li>
              </ul>
            </div>
         </div>
      </nav>
<style>

#succ{display:none;}
#mali{display:none;}
#stli{display:none;}
#brli{display:none;}
#reli{display:none;}
#bmli{display:none;}
@media (max-width: 1523px){


#succ{
display:block;

}
#cp{ display:none;}

}
@media (max-width: 1443px){

#ma{display:none;}
#mali{display:block;}

}

@media (max-width:1292px){

#st{display:none;}
#stli{display:block;}
}

@media (max-width:1220px){

#pr{display:none;}
#prli{display:block;}
}

@media (max-width:1120px){

#br{display:none;}
#brli{display:block;}
}
@media (max-width:1120px){

#re{display:none;}
#reli{display:block;}
}

@media (max-width:940px){

#bm{display:none;}
#bmli{display:block;}
}



</style>
<script>
$(document).ready(function(){
$('.dropdown-submenu a.test').on("click", function(e){
$(this).next('ul').toggle();
e.stopPropagation();
e.preventDefault();
});
});
</script>
         <!-- Main Content -->
         <div class="page-wrapper">
            <div class="container-fluid pt-25">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="panel panel-default card-view">
                        <div class="panel-heading">
                           <div class="pull-left">
                              <h6 class="panel-title txt-dark">VOIP Report</h6>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                           <div class="panel-body">
                              <div class="form-wrap">
                                 <form action="{% url "filterdcardreport" %}" method="POST">
                                   {% csrf_token %}
                                    <div class="row">
                                       <div class="col-lg-2 col-sm-12">
                                          <div class="form-group">
                                             <span class="help-block"> From Date</span>
                                             {{ filterform.fromdate }}
                                          </div>
                                       </div>
                                       <div class="col-lg-2 col-sm-12">
                                          <div class="form-group">
                                             <span class="help-block"> To Date</span>
                                             {{ filterform.todate }}
                                          </div>
                                       </div>
                                       <div class="col-lg-1 col-sm-12">
                                          <div class="form-group">
                                             <span class="help-block">User Type</span>
                                             <select class="form-control select2" id="id_usertype" name="usertype" data-placeholder="Choose a Category" tabindex="1">
                                                <option value="All" selected>All</option>
						                                    <option value="Reseller">Reseller</option>
                                                <option value="User">User</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="col-lg-2 col-sm-12">
                                          <div class="form-group">
                                             <span class="help-block">User</span>
                                             <select id="user" name="username" class="form-control select2">
						                                   <option value="All" selected>All</option>
                                               {% for user in reseller %}
                                               <option value="{{ user.username }}">{{ user.name }}</option>
                                               {% endfor %}
                                             </select>
                                          </div>
                                       </div>
                                       <div class="col-lg-1 col-sm-12">
                                          <div class="form-group">
                                             <span class="help-block">Type</span>
					                                    <select id="id_type" name="type" class="form-control select2">
					                                     <option value="All" selected>All</option>
                                               <option value="Vcloud">Vcloud</option>
                                               <option value="Dcard">Dcard</option>
					                                     <option value="Rcard">Rcard</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="col-lg-2 col-sm-12">
                                          <div class="form-group">
                                             <span class="help-block">Brand</span>
                                             <select id="brand" name="brand" class="form-control select2" data-live-search="true">
   					                                   <option value="All" selected>All</option>
                                               {% for b in brand %}
                                               <option value="{{ b.brand }}"> {{ b.brand }}</option>
                                               {% endfor %}
                                             </select>
                                          </div>
                                       </div>
                                       <div class="col-lg-2 col-sm-12">
                                          <div class="form-group">
                                             <input style="background-color:white; margin-top:29px;" type="submit" class="btn btn-default btn-lg filter" value="Filter">
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
		             <div class="row">
		                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default card-view pa-0">
                        <center><p>{% if filter %} Showing Results  from <strong style="color:red;">{{ filter.ffdate}}</strong> to <strong style="color:red;">{{ filter.ttdate }}</strong> Purchased By <strong style="color:red;">{{ filter.fuser }}</strong> User{% endif %}</p></center>
                        </div>
                    </div>
		               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <div class="panel panel-default card-view pa-0">
                        <div class="panel-wrapper collapse in">
                           <div class="panel-body pa-0">
                              <div class="sm-data-box bg-blue">
                                 <div class="container-fluid">
                                    <div class="row">
                                       <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                          <span class="txt-light block counter"><span id="balance0"></span> <span id="total_quantity">{{ box.quantitysum }}</span></span>
                                          <span class="weight-500 uppercase-font txt-light block">Quantity</span>
                                       </div>
                                       <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right txt-light"> Up To {{ date }}
                                          <i class="zmdi zmdi-file txt-light data-right-rep-icon"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <div class="panel panel-default card-view pa-0">
                        <div class="panel-wrapper collapse in">
                           <div class="panel-body pa-0">
                              <div class="sm-data-box bg-yellow">
                                 <div class="container-fluid">
                                    <div class="row">
                                       <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                          <span class="txt-light block counter"><span id="balance1"></span> <span id="total_total">{{ box.productsum }}</span></span>
                                          <span class="weight-500 uppercase-font txt-light block">Total Charged Amount</span>
                                       </div>
                                       <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right txt-light"> Up To {{ date }}
                                          <i class="zmdi zmdi-file txt-light data-right-rep-icon"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <div class="panel panel-default card-view pa-0">
                        <div class="panel-wrapper collapse in">
                           <div class="panel-body pa-0">
                              <div class="sm-data-box bg-red">
                                 <div class="container-fluid">
                                    <div class="row">
                                       <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                          <span class="txt-light block counter"><span id="balance2"></span> <span id="total_profit">{{ box.profitsum }}</span></span>
                                          <span class="weight-500 uppercase-font txt-light block">Profit</span>
                                       </div>
                                       <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right txt-light"> Up To {{ date }}
                                          <i class="zmdi zmdi-file txt-light data-right-rep-icon"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                           <div class="panel-body">
                              <div class="table-wrap">
                                 <div class="table-responsive">
                                    <table id="example" class="table table-hover display  pb-30" >
                                       <thead>
                                          <tr>
                                             <th>DATE TIME</th>
                                             <th>USER</th>
                                             <th>ROLE</th>
                                             <th>TYPE</th>
                                             <th>BRAND</th>
                                             <th>QUANTITY</th>
					                                   <th>RTYPE</th>
                                             <th>TOTAL CHARGED AMOUNT</th>
                                             <th>PROFIT</th>
                                             <th>ACTION</th>
                                          </tr>
                                       </thead>
                                       <tfoot>
                                          <tr>
                                             <th>DATE TIME</th>
                                             <th>USER</th>
                                             <th>ROLE</th>
                                             <th>TYPE</th>
                                             <th>BRAND</th>
                                             <th>QUANTITY</th>
					                                   <th>RTYPE</th>
                                             <th>TOTAL CHARGED AMOUNT</th>
                                             <th>PROFIT</th>
                                             <th>ACTION</th>
                                          </tr>
                                       </tfoot>
                                       <tbody>
                                         {% for i in products %}
                                          <tr>
                                             <td>{{ i.date }}</td>
                                             <td>{{ i.saleduser }}</td>
                                             <td>{{ i.role }}</td>
                                             <td>{{ i.type }}</td>
                                             <td>{{ i.brand }}</td>
                                             <td>{{ i.quantity }}</td>
					                                   <td>{{ i.rtype }}</td>
                                             <td>{{ i.amount }}</td>
                                             <td>{{ i.profit }}</td>
                                             <td><button class="btn  btn-info btn-outline btn-rounded" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="viewproductdetails({{ i.id }});">View</button></td>
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Footer -->
            <footer class="footer container-fluid pl-30 pr-30">
               <div class="row">
                  <div class="col-sm-12">
                     <p>Developed and maintained by Nuvac technologies © 2018</p>
                  </div>
               </div>
            </footer>
            <!-- /Footer -->
         </div>
         <!-- /Main Content -->
      </div>
      <!-- /#wrapper -->
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h5 class="modal-title" id="myLargeModalLabel">Product details</h5>
               </div>
               <div class="modal-body">
                  <div class="table-responsive" id="prdct-desc">

                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      <script>
      $(document).ready(function() {
        "use strict";
        $('#example').DataTable({
          dom: 'Bfrtip',
          buttons: [
              'copy', 'excel', 'pdf', 'print', 'csv'
          ],
          ordering:false,
        });
        $('.datetime-input').datetimepicker({
          format:'YYYY-MM-DD'
        });
        $('.select2').select2();
        $("#id_usertype").change(function () {
          var usertype = $(this).val();
          var select=$("#user").empty();
	  $('#user').append("<option value='All'>All</option>");
          $.ajax({
            url: '/ajax/get_user_or_reseller/',
            data: {
              'usertype': usertype
            },
            dataType: 'json',
            success: function (data) {
              console.log(data);
              $.each(data,function(key,value){
                console.log(value.pk)
                $('#user').append("<option value='"+value.pk+"'>"+value.fields.name+"</option>");
              });
            }
          });
        });
        $("#id_type").change(function () {
          var type = $(this).val();
          var select=$("#brand").empty();
	  $('#brand').append("<option value='All'>All</option>");
          $.ajax({
            url: '/ajax/get_brandlist/',
            data: {
              'type': type
            },
            dataType: 'json',
            success: function (data) {
              //console.log(data);
              $.each(data,function(key,value){
                //console.log(value.fields.brand)
                $('#brand').append("<option value='"+value.fields.brand+"'>"+value.fields.brand+"</option>");
              });
            }
          });
        });
      });
      function viewproductdetails(id)
      {
        //alert(id);
        $.ajax({
          url: '/ajax/get_product_details/',
          method: 'POST',
          data:  { "csrfmiddlewaretoken": '{{csrf_token}}',"id": id},
          dataType: 'json',
          success: function (data) {
            //console.log(data)
            $("#prdct-desc").empty();
            if(data[1]["type"]=="Vcloud")
            {
              var table='<table class="table table-hover display pb-30"><thead><tr><th>Id</th><th>Brand</th><th>Username</th><th>Password</th><th>Action</th></tr></thead><tbody id="tableContent">';
              var footer='</tbody><tfoot><tr><th>Id</th><th>Brand</th><th>Username</th><th>Password</th><th>Action</th></tr></tfoot></table>';
              $.each(data[0], function( key, value ) {
                var body='<tr class="gradeA"><td>'+value["id"]+'</td><td>'+value["brand"]+'</td><td>'+value["username"]+'</td><td>'+value["password"]+'</td><td><a class="btn btn-sm m-t-n-xs btn-success" href="/vcloudcards/downloads/'+value["id"]+'">Download</a></td></tr>';
                table=table+body;
              });
              table=table+footer;
              $("#prdct-desc").append(table);
            }
            else if(data[1]["type"]=="Dcard")
            {
              var table='<table class="table table-hover display pb-30"><thead><tr><th>Id</th><th>Brand</th><th>Username</th><th>Action</th></tr></thead><tbody id="tableContent">';
              var footer='</tbody><tfoot><tr><th>Id</th><th>Brand</th><th>Username</th><th>Action</th></tr></tfoot></table>';
              $.each(data[0], function( key, value ) {
                var body='<tr class="gradeA"><td>'+value["id"]+'</td><td>'+value["brand"]+'</td><td>'+value["username"]+'</td><td><a class="btn btn-sm m-t-n-xs btn-success" href="/dcardcards/downloads/'+value["id"]+'">Download</a></td></tr>';
                table=table+body;
              });
              table=table+footer;
              $("#prdct-desc").append(table);
            }
            else if(data[1]["type"]=="Rcard")
            {
              var table='<table class="table table-hover display pb-30"><thead><tr><th>Id</th><th>Brand</th><th>Username</th><th>Action</th></tr></thead><tbody id="tableContent">';
              var footer='</tbody><tfoot><tr><th>Id</th><th>Brand</th><th>Username</th><th>Action</th></tr></tfoot></table>';
              $.each(data[0], function( key, value ) {
                var body='<tr class="gradeA"><td>'+value["id"]+'</td><td>'+value["brand"]+'</td><td>'+value["username"]+'</td><td><a class="btn btn-sm m-t-n-xs btn-success" href="/rcardcards/downloads/'+value["id"]+'">Download</a></td></tr>';
                table=table+body;
              });
              table=table+footer;
              $("#prdct-desc").append(table);
            }
          }
        });
      }
      </script>
      <script src="{% static "select css/bootstrap-select.js" %}" defer></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="{% static "vendors/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
      <!-- Data table JavaScript -->
      <script src="{% static "vendors/bower_components/datatables/media/js/jquery.dataTables.min.js" %}"></script>
      <script src="{% static "data/dataTables.buttons.min.js" %}"></script>
      <script src="{% static "data/buttons.flash.min.js" %}"></script>
      <script src="{% static "data/jszip.min.js" %}"></script>
      <script src="{% static "data/pdfmake.min.js" %}"></script>
      <script src="{% static "data/vfs_fonts.js" %}"></script>
      <script src="{% static "data/buttons.html5.min.js" %}"></script>
      <script src="{% static "data/buttons.print.min.js" %}"></script>
      <script src="{% static "select2/select2.min.js" %}"></script>
      <!--<script src="{% static "dist/js/export-table-data.js" %}"></script>-->
      <!-- Slimscroll JavaScript -->
      <script src="{% static "dist/js/jquery.slimscroll.js" %}"></script>
      <!-- Init JavaScript -->
      <script src="{% static "dist/js/init.js" %}"></script>
   </body>
</html>
